
@font-face{
  font-family:Dense;
  src: url('fonts/Dense-Regular.otf');
}
html, body {
  font-family:Dense;
}
h1 {
  color:white;
}
.header{
  text-align:center;
}
.header .btn {
  background-color:white;
}
.btn {
  margin:auto;
  width: 300px;
  text-decoration:none;
}
.btn:focus {
  outline:none;
}

.feature {
  height: 580px;
  line-height:500px;
  background-image:url('../img/header.jpg');
  background-size:cover;
  text-align:center;
  padding-top:40px;
  color:white;
}
.feature span {
  display:inline-block;
  vertical-align: middle;
  line-height: normal;
}
.feature: {
  opacity: .5;
}
